<ion-content class="ion-padding" style="text-align: center;">
  <!-- Logo -->
  <img
    src="assets/LogoWBackground.png"
    class="logo"
  />

  <!-- Nome e Título -->
  <h2 class="title">
    Login
  </h2>

  <!-- Reactive Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <!-- Email Field -->
    <div class="input-container">
      <div class="input-group">
        <ion-icon name="mail"></ion-icon>
        <label for="email">Email</label>
      </div>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="custom-input"
      />
      <!-- Error Message -->
      <p *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error-message">
        Por favor utilizae um formato de email válido
      </p>
    </div>

    <!-- Password Field -->
    <div class="input-container">
      <div class="input-group">
        <ion-icon name="lock-closed"></ion-icon>
        <label for="password">Password</label>
      </div>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="custom-input"
      />
      <!-- Error Message -->
      <p *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error-message">
        A password deve ter pelo menos 6 caractéres
      </p>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="login-button">
      Login
    </button>
  </form>

  <!-- Forgot Password Link -->
  <p class="recovery-text">
    Não tem conta?
    <a (click)="goToRegister()" class="recovery-link">Crie uma</a>
  </p>
</ion-content>
