<ion-content class="ion-padding">
  <!-- Logo -->
  <img src="assets/LogoWBackground.png" class="logo" />

  <!-- Title -->
  <h6 class="title">Create Account</h6>

  <!-- Form -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
    <!-- Email -->
    <div class="input-container">
      <div class="input-group">
        <ion-icon name="at-outline"></ion-icon>
        <label for="email">Email</label>
      </div>
      <input type="email" id="email" formControlName="email" class="custom-input" placeholder="Enter your email" />
    </div>

    <!-- Username -->
    <div class="input-container">
      <div class="input-group">
        <ion-icon name="mail"></ion-icon>
        <label for="username">Username</label>
      </div>
      <input id="username" formControlName="username" class="custom-input" placeholder="Enter your username" />
    </div>

    <!-- First Name and Last Name -->
    <div class="name-container">
      <div class="input-container">
        <div class="input-group">
          <ion-icon name="person"></ion-icon>
          <label for="firstName">First Name</label>
        </div>
        <input type="text" id="firstName" formControlName="firstName" class="custom-input" placeholder="First name" />
      </div>
      <div class="input-container">
        <div class="input-group">
          <ion-icon name="person"></ion-icon>
          <label for="lastName">Last Name</label>
        </div>
        <input type="text" id="lastName" formControlName="lastName" class="custom-input" placeholder="Last name" />
      </div>
    </div>

    <!-- Password -->
    <div class="input-container">
      <div class="input-group">
        <ion-icon name="lock-closed"></ion-icon>
        <label for="password">Password</label>
      </div>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="custom-input"
        placeholder="Enter your password"
      />
    </div>

    <!-- Confirm Password -->
    <div class="input-container">
      <div class="input-group">
        <ion-icon name="lock-closed"></ion-icon>
        <label for="confirmPassword">Confirm Password</label>
      </div>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        class="custom-input"
        placeholder="Confirm your password"
      />
      
    </div>

    <!-- Submit Button -->
    <button type="submit" class="register-button" [disabled]="registerForm.invalid">Criar conta</button>
  </form>

  <p class="footer-text">
    Já tem uma conta?
    <a href="#" class="footer-link">Log in</a>
  </p>
</ion-content>