<ion-tabs>

  <!--Página 1-->
  <ion-tab tab="home">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Início</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [fullscreen]="true">
        <h2 class="center-title">Calendário de viagens</h2>
          <div class="containner">
            <div style="display: flex; align-items: center; justify-content: center;">
              <!-- Previous  -->
              <ion-button expand="block" class="button" style="flex: 0 0 auto; margin-right: 10px;" (click)="Previous()">&lt;</ion-button>
              
              <!-- Date -->
              <div style="flex: 1; text-align: center; font-weight: bold;">
                {{ getDateLabel() }}
              </div>
              <!-- Next  -->
              <ion-button expand="block" class="button" style="flex: 0 0 auto; margin-left: 10px;" (click)="Next()">&gt;</ion-button>
            </div>

            <ion-list>
              <ion-item lines="none" *ngFor="let travel of travelToday">
                <ion-label lines="none" class="a-simple list-member">
                  <h2>{{ travel.name }}</h2>
                  <h2>{{ travel.startDate | date:'dd/MM/yyyy' }} - {{ travel.endDate | date:'dd/MM/yyyy' }}</h2>
                  
                </ion-label>
              </ion-item>
    
              <ion-item lines="none" *ngIf="!travelToday || travelToday.length === 0">
                <ion-label lines="none" >É tudo por agora!.</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      
    </div>
  </ion-tab>






  <!--Página 2-->
  <ion-tab tab="radio">
    <div id="radio-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Minhas viagens</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [fullscreen]="true">

        <div class="example-content">
          <ion-button expand="block" (click)="openCreateTravelModal()" class="button w-100">Criar viagem</ion-button>
        </div>

        <div class="example-content">
          <ion-list lines="none">
            <ion-item lines="none" *ngFor="let travel of TravlesList">
              <ion-label class="list-member-travel">
                <div class="travel-header">
                  <h2>{{ travel.name }}</h2>
                </div>
                <div class="travel-times">
                  <h2>{{ travel.startDate | date:'dd/MM/yyyy' }} - {{ travel.endDate | date:'dd/MM/yyyy' }}</h2>
                </div>
                <div class="travel-times">
                  <h2>{{ travel.startLocation }} - {{ travel.endLocation }}</h2>
                </div>
                
                <div class="travel-icons">
                  <a
                    (click)="openTravelDetail(travel)">
                    <ion-icon name="list-outline"></ion-icon>
                    <span>Detalhes</span>
                  </a>
                  <a 
                    (click)="openEditTravelModal(travel)">
                    <ion-icon name="pencil-outline"></ion-icon>
                    <span>Editar</span>
                  </a>
                  <a 
                    >
                    <ion-icon name="share-social-outline"></ion-icon>
                    <span>Partilhar</span>
                  </a>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

      </ion-content>
    </div>
  </ion-tab>









  <!--Página 3-->
  <ion-tab tab="library">
    <div id="library-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Library</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [fullscreen]="true">
        <div class="example-content">Library content</div>
      </ion-content>
    </div>
  </ion-tab>








  <!--Página 4-->
  <ion-tab tab="search">
    <div id="search-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Search</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [fullscreen]="true">
        <div class="example-content">Search content</div>
      </ion-content>
    </div>
  </ion-tab>












  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Início
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="airplane-outline"></ion-icon>
      Viagens
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="add-circle"></ion-icon>
      3
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="person-circle"></ion-icon>
      4
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>