ion-tabs {
  background-color: white;
}

#home-page, #radio-page, #library-page, #search-page {
  background-color: white;
}
ion-toolbar {
  --background: #ffffff; // Fundo branco
}
ion-content {
  --background: #ffffff; // Fundo branco
}
ion-title {
  color: black;
}

.btn-order {
  background-color: transparent; // Fundo transparente ou branco (opcional)
  color: white;                  // Cor do texto preta
  border: 1px solid white;       // Borda preta para destaque
  padding: 8px 16px;             // Espaçamento interno
  border-radius: 8px;            // Bordas arredondadas
  margin-top: 8px;               // Margem superior
  font-size: 16px;               // Tamanho da fonte
  cursor: pointer;               // Mostrar o cursor de clique
}

h2, h3, p {
  color: black;                  // Texto em preto para títulos e parágrafos
}

button {
  background-color: white; // Fundo transparente
  color: black;                  // Cor do texto preta
  border: 1px solid black;       // Borda preta para consistência
  border-radius: 8px;            // Bordas arredondadas
  padding: 8px 16px;             // Padding para espaçamento interno
  font-size: 16px;               // Tamanho da fonte
  cursor: pointer;               // Mostrar o cursor ao passar sobre o botão
}

div {
  background-color: white;                  // Certifica-se de que o texto dentro de divs esteja em preto
}
