<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Partilhar Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="travel">
    <ion-card-header>
      <ion-card-title>Partilhar {{travel.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let user of users" lines="none">
          <ion-label>
            <h2>{{ user }}</h2>
          </ion-label>
          <ion-checkbox
            slot="end"
            color="primary"
            [checked]="isChecked(user)"
            (ionChange)="toggleSelection(user)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>

      <p *ngIf="!users?.length" class="no-locations">
        Não existem utilizadores disponíveis para partilhar.
      </p>

      <ion-button
        expand="block"
        color="primary"
        [disabled]="!selectedUsers.length"
        (click)="processSelectedUsers()"
      >
        Partilhar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
